/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    text-wrap: balance;
    scroll-behavior: smooth;
    text-size-adjust: 100%;
}

html::-webkit-scrollbar {
    width: 15px;
}

html::-webkit-scrollbar-thumb {
    background-color: rgb(177, 2, 2);
    border-left: 1px solid white;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Navigation Bar */
nav {
    width: 100%;
    background: rgb(177, 2, 2);
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 0px 25px black;
}

nav .location {
    background-color: rgb(82, 87, 91);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid white;
}

nav .location a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: 0.5s;
    width: 290px;
}

nav .location a:hover {
    background-color: rgb(69, 69, 69);
    transition: 0.5s;
}

nav .location img {
    width: 40px;
    height: auto;
    margin-right: 10px;
    padding: 10px;
    filter: brightness(1000);
}

nav .location p {
    margin: 0;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 500;
}

@media (max-width: 1250px) {
    nav .location a {
        width: 215px;
    }

    nav .location img {
        width: 30px;
        height: auto;
        padding: 7.5px;
    }

    nav .location p {
        font-size: 9px;
    }
}

@media (max-width: 1000px) {
    nav .location {
        justify-content: right;
    }
}

.nav {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: rgba(177, 2, 2);
}

.nav img {
    transition: 0.5s;
    width: 75px;
    display: flex;
    margin-right: 10px;
}

nav .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background: rgb(177, 2, 2);
}

nav .nav img {
    width: 75px;
    height: auto;
}

nav .links {
    display: flex;
    align-items: center;
}

nav .links ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav .links ul li {
    margin: 0 10px;
}

nav .links ul a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    transition: background 0.3s;
    border-radius: 5px;
}

nav .links ul a:hover,
nav .links ul .active a {
    background: white;
    color: rgb(177, 2, 2);
}

.nav .fa {
    display: none;
}

@media (max-width: 1250px) {
    nav .links ul a {
        font-size: 15px;
        padding: 10px 12.5px;
    }

    nav .nav img {
        width: 69px;
    }
}

@media (max-width: 1000px) {
    nav .links ul {
        display: none;
    }

    .nav .fa {
        display: block;
        color: white;
        font-size: 24px;
        cursor: pointer;
    }

    nav .links {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background: rgb(177, 2, 2);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav .links ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    nav .links ul li {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    nav .links ul a {
        width: 100%;
        padding: 10px 0;
    }
}

/* Header Section */
.header {
    background: linear-gradient(rgba(177, 2, 2, 0.85), rgba(177, 2, 2, 0.85)), url(images/binaryBackground.png) no-repeat center center/cover;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.header h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.header h5 {
    font-size: 25px;
    padding: 10px 20px;
    border: 1px solid white;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.header h5:hover {
    background: white;
    color: rgb(177, 2, 2);
}

.header p {
    margin-top: 50px;
    font-size: 15px;
    cursor: pointer;
    transition: padding-left 0.3s;
}

.header p:hover {
    padding-left: 10px;
}

.header a {
    text-decoration: none;
    color: white;
}

@media (max-width: 1250px) {
    .header h1 {
        font-size: 43.75px;
    }

    .header h3 {
        font-size: 26.25px;
    }

    .header h5 {
        font-size: 21.875px;
    }

    .header p {
        font-size: 12.5px;
    }
}

@media (max-width: 700px) {
    .header h1 {
        font-size: 37.5px;
    }

    .header h3 {
        font-size: 22.5px;
    }

    .header h5 {
        font-size: 18.75px;
    }

    .header p {
        font-size: 10px;
    }
}

/* Section Headers */
.aboutHeader,
.eventsHeader,
.teamHeader,
.sponsorsHeader,
.applyHeader,
.highlightsHeader {
    text-align: center;
    padding: 100px 20px 20px 20px;
}

.aboutHeader h1,
.eventsHeader h1,
.teamHeader h1,
.sponsorsHeader h1,
.applyHeader h1,
.highlightsHeader h1 {
    font-size: 50px;
    color: rgb(177, 2, 2);
}

/* Description Section */
.description {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px 20px;
    flex-wrap: wrap;
    background: white;
    color: #333;
}

.description .left,
.description .right {
    width: 45%;
    margin-bottom: 30px;
}

.description .left h1,
.description .right h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb(177, 2, 2);
}

.description .expect,
.description .internship {
    border: 2px solid rgba(177, 2, 2, 0.92);
    padding: 30px;
    margin-bottom: 20px;
}

.description .expect h2,
.description .internship h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.description .expect p,
.description .internship p {
    font-size: 20px;
    margin-bottom: 10px;
}

.description .tables table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.description .tables table,
.description .tables td,
.description .tables th {
    border: 2px solid rgba(177, 2, 2, 0.92);
    text-align: center;
    padding: 20px;
}

.description .tables .season {
    background: rgba(177, 2, 2, 0.92);
    color: white;
    font-size: 20px;
}

.description hr {
    border-top: 2px dashed rgba(177, 2, 2, 0.92);
    margin: 20px 0;
}

@media (max-width: 1250px) {
    .aboutHeader h1,
    .benefits h1 {
        font-size: 43.75px;
    }

    .description h1 {
        font-size: 35px;
    }

    .description h2 {
        font-size: 21.875px;
    }

    .description p,
    .benefits .reasons h2 {
        font-size: 17.5px;
    }

    .right h1,
    .benefits h2 {
        font-size: 21.875px;
    }

    .right {
        margin-right: 30px;
    }

    .description .tables .season {
        font-size: 17.5px;
    }

    .description .tables table,
    .description .tables td,
    .description .tables th {
        padding: 17.5px;
    }
}

@media (max-width: 1000px) {
    .aboutHeader h1 {
        padding-left: 0;
        text-align: center;
    }

    .description {
        padding-left: 0;
        flex-direction: column;
    }

    .description h1,
    .description h2,
    .description p {
        text-align: center;
    }

    .right {
        margin-left: 0;
        margin-right: 0;
        margin: 15px;
    }

    .left {
        margin-bottom: 60px;
    }

    .expect,
    .internship {
        margin-left: 15px;
        margin-right: 15px;
    }

    .nevada {
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    .aboutHeader h1,
    .benefits h1 {
        font-size: 37.5px;
    }

    .description h1 {
        font-size: 30px;
    }

    .description h2 {
        font-size: 18.75px;
    }

    .description p,
    .benefits .reasons h2 {
        font-size: 15px;
    }

    .right h1,
    .benefits h2 {
        font-size: 18.75px;
    }

    .description .tables .season {
        font-size: 15px;
    }

    .description .tables table,
    .description .tables td,
    .description .tables th {
        padding: 15px;
    }
}

/* Benefits Section */
.benefits {
    text-align: center;
    padding: 50px 20px;
    background: white;
    color: #333;
    margin-top: 100px;
}

.benefits h1 {
    font-size: 50px;
    color: rgb(177, 2, 2);
    border-bottom: 2px dashed rgba(177, 2, 2, 0.92);
    padding-bottom: 15px;
}

.benefits .reasons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0;
}

.benefits .reasons h2 {
    background-color: rgba(177, 2, 2, 0.92);
    color: white;
    padding: 30px;
    font-size: 20px;
    width: 250px;
    height: 250px;
    margin: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.benefits h2 {
    font-size: 25px;
    color: rgba(177, 2, 2, 0.92);
    margin: 30px 0;
}

.benefits .nevada,
.benefits .ccsd {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0;
}

.benefits .credits,
.benefits .certificate,
.benefits .ccsd {
    text-align: center;
    margin: 20px;
}

.benefits img {
    width: 200px;
    margin-bottom: 10px;
}

@media (max-width: 1250px) {
    .benefits .reasons h2 {
        width: 218.75px;
        height: 218.75px;
        margin: 35px;
    }

    .benefits img {
        width: 175px;
    }

    .nevada h2,
    .ccsd h2 {
        font-size: 17.5px;
    }
}

@media (max-width: 1000px) {
    .benefits .reasons h2 {
        font-size: 15px;
    }

    .benefits img {
        width: 150px;
    }

    .nevada h2,
    .ccsd h2 {
        font-size: 15px;
    }
}

/* Note Section */
.note {
    text-align: center;
    padding: 20px;
    background: rgba(177, 2, 2, 0.1);
    color: rgb(177, 2, 2);
    margin: 50px;
}

.note h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.note p {
    font-size: 20px;
}

@media (max-width: 1250px) {
    .note h1 {
        font-size: 21.875px;
    }

    .note p {
        font-size: 17.5px;
    }
}

@media (max-width: 700px) {
    .note h1 {
        font-size: 18.75px;
    }

    .note p {
        font-size: 15px;
    }
}

/* Events Section */
.events {
    text-align: center;
    padding: 100px 20px 20px 20px;
    background: white;
    color: #333;
}

.events h1 {
    font-size: 50px;
    color: rgb(177, 2, 2);
    margin: 30px 0;
}

.events .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.events .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.events .box {
    background: rgba(177, 2, 2, 0.92);
    color: white;
    padding: 20px;
    margin: 10px;
    width: 45%;
    text-align: center;
    border-radius: 10px;
}

.events .box h2 {
    font-size: 25px;
    margin-bottom: 15px;
}

.events .box p {
    font-size: 20px;
}

@media (max-width: 1250px) {
    .events h1 {
        font-size: 43.75px;
    }

    .box h2 {
        font-size: 21.875px;
    }

    .box p {
        font-size: 17.5px;
    }
}

@media (max-width: 1000px) {
    .events .row {
        flex-direction: column;
    }

    .box {
        width: 80%;
    }
}

@media (max-width: 700px) {
    .events h1 {
        font-size: 37.5px;
    }

    .box h2 {
        font-size: 18.75px;
    }

    .box p {
        font-size: 15px;
    }

    .box {
        height: 187.5px;
        width: 275px;
        margin: 25px;
    }
}

/* Team Section */
.team {
    text-align: center;
    padding: 100px 20px 20px 20px;
    background: white;
    color: #333;
}

.team h1 {
    font-size: 50px;
    margin-bottom: 40px;
    color: rgb(177, 2, 2);
}

.team .people {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team .person {
    width: 200px;
    text-align: center;
    margin-bottom: 30px;
}

.team .person div {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
    transition: 0.5s;
}

.team .person div:hover {
    scale: 1.1;
    transition: 0.5s;
}

.team .person h2 {
    font-size: 25px;
    color: rgba(177, 2, 2, 0.92);
    font-family: sans-serif;
}

.frame1 {
    background-image: url(images/xuexing.png);
}

.frame2 {
    background-image: url(images/yingtao.jpg);
}

.frame3 {
    background-image: url(images/mei.jpg);
}

.frame4 {
    background-image: url(images/hasan.jpg);
}

.frame5 {
    background-image: url(images/sebern.jpg);
}

.frame6 {
    background-image: url(images/snehal.jpeg);
}

.frame7 {
    background-image: url(images/jimmy.webp);
}

.frame8 {
    background-image: url(images/craig.jpg);
}

.frame9 {
    background-image: url(images/mihee.jpg);
}

@media (max-width: 1250px) {
    .team h1 {
        font-size: 43.75px;
    }

    .team .person div {
        width: 175px;
        height: 175px;
    }
}

@media (max-width: 1000px) {
    .team .people {
        flex-direction: column;
        align-items: center;
    }

    .team .person {
        width: 100%;
    }

    .team h1 {
        font-size: 35px;
    }
}

@media (max-width: 700px) {
    .team h1 {
        font-size: 30px;
    }

    .team .person div {
        width: 150px;
        height: 150px;
    }
}

/* Sponsors Section */
.sponsors {
    text-align: center;
    padding: 100px 20px 20px 20px;
    background: white;
    color: #333;
}

.sponsors h1 {
    font-size: 50px;
    color: rgb(177, 2, 2);
}

.stakeholders {
    text-align: center;
    padding: 100px 20px 20px 20px;
}

.sponsors .sponsors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sponsors img {
    width: 200px;
    margin: 20px;
    transition: transform 0.3s;
}

.sponsors img:hover {
    transform: scale(1.1);
}

@media (max-width: 1250px) {
    .sponsors h1 {
        font-size: 43.75px;
    }

    .sponsors img {
        width: 175px;
    }
}

@media (max-width: 1000px) {
    .sponsors .sponsors {
        flex-direction: column;
        align-items: center;
    }

    .sponsors img {
        width: 150px;
        margin: 10px 0;
    }
}

@media (max-width: 700px) {
    .sponsors h1 {
        font-size: 37.5px;
    }
}

/* Student Highlights Section */
.highlights {
    text-align: center;
    padding: 100px 20px 20px 20px;
    background: white;
    color: #333;
}

.highlights h1 {
    font-size: 50px;
    margin-bottom: 40px;
    color: rgb(177, 2, 2);
}

.highlights .collage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.highlights .highlight {
    background: rgba(177, 2, 2, 0.92);
    color: white;
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
}

.highlights .highlight h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

/* Fun Fact */
.funFact, .note{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 20px;
    text-align: center;
    background-color: rgba(177,2,2,.92);
    margin-bottom: 100px;
}
.funFact h1, .note h1 {
    font-size: 25px;
    color: white;
    font-family: sans-serif;
}
.funFact p, .note p {
    font-size: 20px;
    color: white;
    
}
@media(max-width: 1250px) {
    .funFact h1, .note h1 {
        font-size: 21.875px;
    }
    .funFact p, .note p {
        font-size: 17.5px;
    }
}
@media(max-width: 700px) {
    .funFact h1, .note h1 {
        font-size: 18.75px;
    }
    .funFact p, .note p {
        font-size: 15px;
    }
}

/* Reviews */
.reviews h1 {
    font-size: 40px;
    color: rgba(177,2,2,.92);
    font-family: sans-serif;
    text-align: center;
    margin: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.reviews .cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.reviews .cards .card {
    width: 40%;
    height: 200px;
    border: 2px solid rgb(177,2,2);
    margin: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    color: rgb(177,2,2);
    font-family: sans-serif;
}
.reviews .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reviews .top h3 {
    font-size: 20px;
}
.reviews .cards .card h2 {
    font-size: 25px;
}
.reviews .cards .card p {
    font-size: 20px;
    font-style: italic;
}
.reviews .cards .card .rating i {
    font-size: 20px;
}
@media(max-width: 1250px) {
    .reviews h1 {
        font-size: 35px;
    }
    .reviews .top h3, .reviews .cards .card p, .reviews .cards .card .rating i {
        font-size: 17.5px;
    }
    .reviews .cards .card h2 {
        font-size: 21.875px;
    }
}
@media(max-width: 1000px) {
    .reviews .cards .card {
        width: 80%;
    }
}
@media(max-width: 700px) {
    .reviews h1 {
        font-size: 30px;
    }
    .reviews .top h3, .reviews .cards .card p, .reviews .cards .card .rating i {
        font-size: 15px;
    }
    .reviews .cards .card h2 {
        font-size: 18.75px;
    }
}

/* How to Apply Section */
.apply {
    text-align: center;
    padding: 100px 20px 20px 20px;
    background: white;
    color: #333;
}

.apply h1 {
    font-size: 50px;
    margin-bottom: 40px;
    color: rgb(177, 2, 2);
}

.apply .container {
    background: rgba(177, 2, 2, 0.92);
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
}

.apply .container h2 {
    font-size: 25px;
    margin-bottom: 15px;
    color: #333;
}

.apply .container p {
    font-size: 20px;
}

/* Selection Process */
.apply .container.process {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(177, 2, 2);
    border-radius: 10px;
    padding: 20px;
}

.apply .container.process .step {
    flex: 1;
    text-align: center;
    padding: 40px 20px;
    border: 2px solid white;
    margin: 0 10px;
    background-color: rgb(177, 2, 2);
    color: white;
}

.apply .container.process .step h2 {
    margin-bottom: 10px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.apply .container.process .step p {
    font-size: 18px;
    margin: 0;
}

@media (max-width: 1250px) {
    .apply h1 {
        font-size: 43.75px;
    }

    .apply .container h2 {
        font-size: 21.875px;
    }

    .apply .container p {
        font-size: 17.5px;
    }

    .apply .process .step h2 {
        font-size: 17.5px;
        margin: 15px;
    }
}

@media (max-width: 1000px) {
    .apply {
        margin-left: 0;
    }

    .apply .container {
        margin-right: 0;
        margin: 30px;
    }

    .apply h1 {
        text-align: center;
    }

    .apply .process {
        flex-direction: column;
    }

    .apply .expanded .container {
        height: 650px;
    }

    .apply .expanded .container h2 {
        width: 300px;
    }
}

@media (max-width: 700px) {
    .apply h1 {
        font-size: 37.5px;
    }

    .apply .container h2 {
        font-size: 18.75px;
    }

    .apply .container p {
        font-size: 15px;
    }

    .apply .process .step h2 {
        font-size: 15px;
    }

    .apply .expanded .container h2 {
        width: 100px;
    }
}

/* Footer */
.footer {
    background: rgba(72, 77, 81, 0.94);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer p {
    margin: 10px 0;
}

.footer .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .social-media a {
    color: white;
    margin: 0 10px;
    font-size: 24px;
    transition: transform 0.3s;
}

.footer .social-media a:hover {
    transform: scale(1.1);
}

@media (max-width: 1000px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer div {
        margin: 10px 0;
    }
}

/* Animate on Scroll */
.hidden {
    opacity: 0;
    scale: 0.75;
    transition: all 1s;
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    scale: 1;
    transform: translateX(0);
}

.reasons h2:nth-child(1) {
    transition-delay: 100ms;
}

.reasons h2:nth-child(2) {
    transition-delay: 200ms;
}

.reasons h2:nth-child(3) {
    transition-delay: 300ms;
}

.reasons h2:nth-child(4) {
    transition-delay: 400ms;
}

.reasons h2:nth-child(5) {
    transition-delay: 500ms;
}

.reasons h2:nth-child(6) {
    transition-delay: 600ms;
}

@media (max-width: 1000px) {
    .reasons h2:nth-child(n) {
        transition-delay: 0ms;
    }
}


